@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff') format('woff'),
         url('Roboto-Bold.woff2') format('woff2');
         font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff') format('woff'),
         url('Roboto-Light.woff2') format('woff2');
         font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff') format('woff'),
         url('Roboto-Medium.woff2') format('woff2');
         font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff') format('woff'),
         url('Roboto-Regular.woff2') format('woff2');
         font-weight: 400;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSansCyrl-300.woff') format('woff'),
         url('MuseoSansCyrl-300.woff2') format('woff2');
         font-weight: 300;
}
@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSansCyrl-700.woff') format('woff'),
         url('MuseoSansCyrl-700.woff2') format('woff2');
         font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.woff') format('woff'),
         url('MOpenSans-Light.woff2') format('woff2');
         font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff') format('woff'),
         url('Inter-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.woff') format('woff'),
         url('Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff') format('woff'),
         url('Inter-Regular.woff2') format('woff2');
         font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.woff') format('woff'),
         url('Inter-ExtraBold.woff2') format('woff2');
         font-weight: 800;
}
@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLightBETA.woff') format('woff'),
         url('Inter-ExtraLightBETA.woff2') format('woff2');
         font-weight: 200;
}
@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff') format('woff'),
         url('Inter-Medium.woff2') format('woff2');
         font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('Inter-LightBETA.woff') format('woff'),
         url('Inter-LightBETA.woff2') format('woff2');
         font-weight: 300;
}