.header{
    background: $white;
    padding: 56px 0 0 0;
    height: 160px;
    &__container{
        position: relative;
    }
    &__content{
        display: grid;
        grid-template-areas:    'menu menu feedback'
                                'logo profile search'
                                'catalog catalog search';
        position: absolute;
        background: $white;
        right: 0;
        top: 0;
        width: 1362px;
        padding-left: 80px;
    }
    &__menu{
        grid-area: menu;
        &-list{
            display: flex;
            font-family: Inter;
            font-weight: 700;
            font-size: .8125rem;
            line-height: .9831rem;
            color: $sonicSilver;
            &-item{
                display: flex;
                align-items: center;
                &-link{

                }
                &-arrow{
                    margin: 0 0 0 10px;
                }
                &:not(:last-child){
                    margin: 0 43px 0 0;
                }
                &:hover{
                    color: $black;
                    path{
                        stroke: $black;
                    }
                }
            }
        }
    }
    &__feedback{
        display: grid;
        grid-template-areas:    'phone social-network'
                                'address social-network';
        font-family: Roboto;
        color: $darkSilver;
        grid-area: feedback;
        &-phone{
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.465rem;
            grid-area: phone;
            margin-bottom: 20px;
        }
        &-address{
            font-weight: 300;
            font-size: .875rem;
            line-height: 1.0256rem;
            grid-area: address;
        }
        &-social-network{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: social-network;
        }
    }
    &__logo{
        grid-area: logo;
        display: flex;
        font-family: Roboto;
        padding-top: 10px;
        &-descr{
            font-weight: 400;
            font-size: .75rem;
            line-height: 1.125rem;
            letter-spacing: 2.4px;
            color: $silverFoil;
            width: 205px;
            margin-left: 54px;
        }
    }
    &__profile{
        display: flex;
        grid-area: profile;
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 54px;
            position: relative;
            &:not(:last-child){
                margin-right: 50px;
            }
        }
        &-count{
            font-family: Roboto;
            font-weight: 400;
            font-size: .6875rem;
            line-height: .8056rem;
            color: $silverSand;
            position: absolute;
            top: 0;
            right: 0;
        }
        &-basket-count{
            color: $red;
        }
    }
    &__search{
        display: flex;
        align-items: center;
        grid-area: search;
        transform: translateY(7%);
        &-input{
            font-family: Inter;
            background: $chineseWhite;
            padding: 18px;
            color: $darkSilver;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.3rem;
            width: 312px;
        }
        &-button{
            height: 56.8px;
            background-color: $chineseWhite;
            padding: 0 20px;
        }
    }
    &__catalog{
        transform: translateY(75%);
        grid-area: catalog;
        &-button{
            display: flex;
            font-family: Inter;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.21rem;
            color: $white;
            padding: 26px 34px;
            background: $permanentGeraniumLake;
            &-burger-svg{
                margin-left: 28px;
            }
        }
    }
}