.header{
    background: $white;
    padding: 56px 0 0 0;
    &__container{
        position: relative;
    }
    &__content{
        display: grid;
        grid-template-areas:    'menu menu feedback'
                                'logo profile profile';
                                // 'catalog catalog search'
        background: $white;
    }
    &__bottom-content{
        position: absolute;
        width: 106.25%;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 10;
    }
    &__menu{
        grid-area: menu;
        &-list{
            display: flex;
            font-family: Inter;
            font-weight: 700;
            font-size: .8125rem;
            line-height: .9831rem;
            color: $sonicSilver;
            &-item{
                display: flex;
                align-items: center;
                &-arrow{
                    margin: 0 0 0 10px;
                }
                &:not(:last-child){
                    margin: 0 43px 0 0;
                }
                &:hover{
                    color: $black;
                    path{
                        stroke: $black;
                    }
                }
            }
        }
    }
    &__feedback{
        display: grid;
        grid-template-areas:    'phone social-network'
                                'address social-network';
        font-family: Roboto;
        color: $darkSilver;
        grid-area: feedback;
        &-phone{
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.465rem;
            grid-area: phone;
            margin-bottom: 20px;
            &-link{
                margin-left: 9.92px;
            }
        }
        &-address{
            font-weight: 300;
            font-size: .875rem;
            line-height: 1.0256rem;
            grid-area: address;
        }
        &-social-network{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: social-network;
        }
    }
    &__logo{
        grid-area: logo;
        display: flex;
        align-items: flex-end;
        font-family: Roboto;
        &-descr{
            font-weight: 400;
            font-size: .75rem;
            line-height: 1.125rem;
            letter-spacing: 2.4px;
            color: $silverFoil;
            width: 205px;
            margin-left: 54px;
        }
    }
    &__profile{
        display: flex;
        align-items: flex-end;
        grid-area: profile;
        column-gap: 30px;
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 54px;
            position: relative;
        }
        &-count{
            font-family: Roboto;
            font-weight: 400;
            font-size: .6875rem;
            line-height: .8056rem;
            color: $silverSand;
            position: absolute;
            top: 0;
            right: 0;
        }
        &-basket-count{
            color: $red;
        }
    }
    &__catalog{
        display: flex;
        align-items: flex-end;
        grid-area: catalog;
        background: $white;
        align-self: stretch;
        flex-grow: 1;
        padding-left: 7%;
        &-button{
            display: flex;
            font-family: Inter;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.21rem;
            color: $white;
            padding: 26px 34px;
            background: $permanentGeraniumLake;
            transform: translateY(71.43%);
            &-burger-svg{
                margin-left: 28px;
            }
        }
    }
    &__search{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        grid-area: search;
        &-inner{
            display: flex;
            align-items: center;
            border: 20px solid $white;
            border-top: none;
            border-left: none;
            &-input{
                font-family: Inter;
                background: $chineseWhite;
                padding: 18px;
                color: $darkSilver;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.3rem;
                width: 312px;
                opacity: 0.9;
            }
            &-button{
                height: 56.8px;
                background-color: $chineseWhite;
                padding: 0 20px;
                opacity: 0.9;
            }
        }
    }
}